#container {
}


#botao{
    padding-top: 20px;
    text-align: center;
}

a{
    
    font-weight: 500;
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
}

.imagem {
    background: rgb(60, 119, 111);
    padding-top: 12px;
    text-align: center;
    width: 420px;
    display: inline-block;
}