h1{
    margin-top: 1px;
    border: 1px red solid;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;

}



#container_header{
    height: 85px;
    position: relative;
    background: #F5F5DC;
    padding: 20px;
    margin: 10px;
    border: 1px red;
    border-radius: 20px;
}


   /*///////NAV-BAR////////*/

#navegacao{
    font-family: ;
    border: 1px  green;
    width: 100%;
    text-align: center;
    
}

#navegacao a{
    background-color: aquamarine;
    padding: 5px 30px;
    border: 1px red solid;
    border-radius: 3px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: none;
    margin: 15px 20px;
}

#navegacao a:hover{

    font-size: large;
    background-color: #F5F5DC;
    color: green;
}



   /*///////FIM NAV-BAR////////*/


#container{
    border: 1px red solid;
    border-radius: 20px;
    background-color: #FAEBD7;
    padding: 25px 50px;
    margin: 50px;

}

fieldset{
    padding: 1.1em;
    margin-top: 30px;
    width: 40%;
}

legend{

    font-size: 25px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

label{
    cursor: pointer;
    font-size: large;
    font-weight: 200;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#textarea{
    margin-bottom:10px;
    display: block;
}