body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h1{
    margin-top: 1px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;

}

#container_header{
    height: 85px;
    position: relative;
    background: #F5F5DC;
    padding: 20px;
    margin: 10px;
    border-radius: 20px;
}


   /*///////NAV-BAR////////*/

#navegacao{
    font-family: ;
    width: 100%;
    text-align: center;
    
}

#navegacao a{
    background-color: aquamarine;
    padding: 5px 30px;
    border-radius: 3px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: none;
    margin: 15px 20px;
    transition: .2s linear;
}

#navegacao a:hover{

    font-size: larger;
    background-color: #F5F5DC;
    color: green;
}



   /*///////FIM NAV-BAR////////*/

#tabela{
    margin: 25px 50px;
    padding: 25px;
    background-color: #FAEBD7;
    border-radius: 20px;
}

table{
    height: 100%;
    border-collapse: inherit;
    border-radius:;
    width: 100%;
}

th {
    font-size: 80px;
    border: 4px solid red;

}

td{
    text-align: right;
    border: 1px solid;
}

.esquerda{
    text-align: left;
}




#botao{
    padding-top: 10px;
    text-align: center;
}

button{
    /*
    border: 1px red solid;
    */
    cursor: pointer;
    height: 40px;
    width: 120px;
    position: relative;
    border: none;
    transition: .4s ease-in;
    z-index: 1;
}

button::before, button::after{
    position: absolute;
    content: "";
    z-index: -1;

}

.btn-1:hover{
    background: #ff96ad;
    box-shadow: 0 0 5px #ff96ad, 0 0 25px #ff96ad, 0 0 200px #ff96ad;

}


button a{
    color: black;
    border: px red solid;
    font-weight: 500;
    text-decoration: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 15px;
}
