body{
    padding: 50px;

}

p{
    font-weight: 600;
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;

}

a{
    font-weight: 500;
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
}

img:hover{
    opacity: 0.7;
}




#container{
    padding-top: 30px;
    margin:;
    width: 100%;
    border: 2px red solid;
    border-radius: 10px;
}




.container_imagem{
    background: rgb(114, 113, 113,0.5);
    width: 800px;
    height: 700px;
    border: 10px blue inset;
    margin-top:0px;
    padding-top: 100px;
    text-align: center;
}

.container_imagem2{
    width: 800px;
    height: 700px;
    border: 10px blue inset;
    margin-top:0px;
    padding-top: 100px;
    text-align: center;
}




.paragrafo{
    margin: 25px;
    border: 5px green dotted;
    border-radius: 10px;
    text-align: center;
    
}

.paragrafo2{
    margin: 25px;
    border: 5px green dotted;
    border-radius: 10px;
    text-align: center;
    
}




#botao{
    width: 75px;
    border: 3px solid yellow;
    margin: 30px;
    padding: 20px;
    text-align: center;
}

